body {
    /*background-color: skyblue;*/
}
.login-form ,.table {
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.btn-block {
    display: block;
    width: 100%;
    
}
.security-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    
}
h1 {
    
    margin-top: 50px;
}
a.disabled {
    pointer-events: none;
    color: #ccc;
}
.dropdown .dropdown-menu{
    display: none;
}
.dropdown:hover > .dropdown-menu ,.dropend:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
   
  }
  .dropend:hover > .dropdown-menu {
    position:absolute;
    top: 0;
    left: 100%;
    margin-left: .125em;
  }
 
.login-button {
    text-align: center;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 10px;
    width: 7%;
    
}
  